<html>
    <head>
        <title>PlantGuru Unit Configurator</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6" style="height: calc(100vh - 10.25rem); display: flex; align-items: center; flex: 0 1 auto;">
                    <form action="/login" method="POST">
                        <img class="logo" src="/images/logo.png"/>

                        <fieldset>
                            <legend>Authorize PlantGuru Unit</legend>
                            <div class="input-group fluid">
                                <label for="username" style="width: 80px;">Username</label>
                                <input type="email" value="" id="username" placeholder="Username">
                            </div>
                            <div class="input-group fluid">
                                <label for="pwd" style="width: 80px;">Password</label>
                                <input type="password" value="" id="password" placeholder="Password">
                            </div>
                            <div class="input-group fluid">
                                <button class="button btn-primary" type="submit">Login</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
    </body>
</html>